# IDE cache folders
.vs/
.vscode/
.idea/

# MacOS-related
**/.DS_Store

# JUCE
juce/

# Binaries and executables
bin/
dist/
out/

# Confidential stuff
conf/

# Miscellaneous Ableton stuff
project/Backup/
project/Presets/
project/Samples/
project/Desktop.ini
